<div id="empty-cart" class="container-fluid py-5" style="height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <span class="text-danger">Giỏ hàng hiện không có sản phẩm!</span>
    <a href="~/Product" class="btn btn-primary mt-4">Tiếp tục mua sắm</a>
</div>
