@model IEnumerable<CartItem>
@{
    ViewBag.Title = "Giỏ hàng";
}
<div class="pt-5">
</div>

@if (Model.Any())
{
    <div class="container-fluid pt-5" id="shoppingCart">

    </div>
}
else
{
    await Html.RenderPartialAsync("_EmptyCart");
}
@section scripts {
    <script>
        $(document).ready(function () {
            showShoppingCart();

        });

        function showShoppingCart() {
            $.ajax({
                url: "/Cart/ShoppingCart",
                type: 'GET',
                success: function (data) {
                    $('#shoppingCart').html(data);
                }
            });
        }
    </script>
}
