@{
    List<Category> categories = ViewBag.ListCategories;
}
<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-secondary">100% Sản Phẩm Chính Hãng</h4>
                <h1 class="mb-5 display-3 text-primary">
                    Hàng cao cấp<br /> Rẻ vô địch
                </h1>
            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        @foreach(var category in categories){
                            <div class="carousel-item @(category == categories.First() ? "active" : "") rounded">
                                <img src="@WebConfig.IMAGE_SOURE_HOST/images/categories/@(string.IsNullOrWhiteSpace(category.Photo) ? "no-image.jpg" : category.Photo)" class="d-block w-100 h-100 bg-secondary rounded">
                                <a href="~/Product/Filter/?categoryID=@category.CategoryID" class="btn px-4 py-2 text-white rounded">@category.CategoryName</a>
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>