.status-line {
    height: 2px;
    background-color: #00bfa5;
    flex-grow: 1;
    margin: 0 10px;
}

.timeline {
    position: relative;
    padding-left: 45px;
}

    .timeline::before {
        content: '';
        position: absolute;
        left: 9px;
        top: 15px;
        bottom: 0;
        width: 2px;
        background: #e8e8e8;
    }

.timeline-item {
    position: relative;
    margin-bottom: 24px;
}

.timeline-dot {
    position: absolute;
    left: -45px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #26aa99;
    border: 2px solid #ccc;
}

.timeline-time {
    color: rgba(0,0,0,.54);
    font-size: 14px;
    margin-bottom: 4px;
}

.timeline-status {
    color: #26aa99;
    margin-bottom: 4px;
}

.timeline-details {
    margin-bottom: 0;
}

.product-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.price-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
