@{
    ViewBag.Title = "Quản lý mặt hàng";
}

<div class="box box-primary">
    <div class="box-body">
        <form>
            <div class="row">
                <div class="col-md-3">
                    <label for="loaiHang">Loại hàng:</label>
                    <select id="loaiHang" class="form-control">
                        <option selected>Chọn loại hàng</option>
                        <option>Bàn ghế - đồ nội thất</option>
                        <option>Điện tử</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="nhaCungCap">Nhà cung cấp:</label>
                    <select id="nhaCungCap" class="form-control">
                        <option selected>Chọn nhà cung cấp</option>
                        <option>Công ty A</option>
                        <option>Công ty B</option>
                    </select>
                </div>

                <div class="col-md-1">
                    <label for="giaTu">Giá từ:</label>
                    <input id="giaTu" type="number" class="form-control" placeholder="0">
                </div>

                <div class="col-md-1">
                    <label for="giaDen">đến:</label>
                    <input id="giaDen" type="number" class="form-control" placeholder="0">
                </div>

                <div class="col-md-4">
                    <label for="inputSearch">Tên mặt hàng cần tìm:</label>
                    <div class="input-group">
                        <input id="inputSearch" type="text" class="form-control" placeholder="Nhập mặt hàng cần tìm">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                            <a href="~/Product/Create" class="btn btn-primary" style="margin-left: 5px">
                                <i class="fa fa-plus" style="margin-right: 5px; vertical-align: middle;"></i> Bổ sung
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </form>

        <p style="margin: 10px 0 10px 0">
            Có <b> 692</b> mặt hàng trong tổng số <b>35</b> trang
        </p>

        <!-- Bảng kết quả tìm kiếm -->
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-primary">
                        <th>Ảnh</th>
                        <th>Tên mặt hàng</th>
                        <th>Đơn vị tính</th>
                        <th>Giá</th>
                        <th style="width:80px"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= 10; i++)
                    {
                        <tr>
                            <td><img src="path/to/image" alt="Ảnh" /></td>
                            <td>01234 - Xe tập đi Chiccco Xanh dương</td>
                            <td>Cái</td>
                            <td>2,590,000</td>
                            <td>
                                <a href="~/Product/Edit/123" class="btn btn-xs btn-info">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="~/Product/Delete/123" class="btn btn-xs btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <ul class="pagination">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
    </div>
</div>