@{
    ViewBag.Title = "Đổi mật khẩu";
}

<div class="py-5"></div>
<div class="container py-5">
    <div class="row">
        @{
            await Html.RenderPartialAsync("_SidebarProfile");
        }

        <div class="col-md-9 mt-3">
            <div class="card border">
                <div class="card-header bg-primary text-white text-center">
                    <h4 class="m-0">Đổi mật khẩu</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="~/Account/ChangePassword">
                        <div class="row justify-content-center">
                            <!-- Centering the form fields -->
                            <div class="col-md-8">
                                <div class="mb-3">
                                    <label class="form-label"> Mật khẩu cũ:</label>
                                    <input type="password" class="form-control mx-auto"
                                           name="oldPassword" style="max-width: 100%;" autofocus />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label"> Mật khẩu mới:</label>
                                    <input type="password" class="form-control mx-auto"
                                           name="newPassword" style="max-width: 100%;" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label"> Xác nhận mật khẩu mới:</label>
                                    <input type="password" class="form-control mx-auto"
                                           name="confirmPassword" style="max-width: 100%;" />
                                </div>

                                <div class="mb-3">
                                    @Html.ValidationMessage("Error", new { style = "color: #f00" })
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <a href="~/Profile" class="btn btn-danger px-4 me-2">
                                <i class="bi bi-x me-2"></i> Bỏ qua
                            </a>

                            <button type="submit" class="btn btn-warning px-4">
                                <i class="fa fa-save me-2"></i> Đổi mật khẩu
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
